In [123]:
import pandas as pd
import numpy as np
import re

## Preprocessing

In [25]:
test

           Hotel_name                                             review  rate
49178       오션 팰리스 호텔                바로 전화해서 방을 산실로 업그레이드해서 바꿔주시긴 했는데...     0
49659       오션 팰리스 호텔  일주일도 전에 신청한 침대가 드도 체크인할 때 다시 물어보라 해놓고 감감무소식 설치...     2
6096          글래드 여의도                                     방 자체는 약간 어두워요.     1
51749  숨 게스트 하우스 제주공항               눈 내리는 겨울에 다시 방문 예정인데 그때는 이 슬리퍼 바꿔주셨음     1
46008     엠 스테이 호텔 제주                밖인지 화장실인지 암튼 이것보다 싸게 준대도 다신 안 가고 싶음     0

In [129]:
from konlpy.tag import Okt
import numpy
import re

okt=Okt()

#문장에서 한글만 남기고 삭제
def cleansing(sentence):
    hangul=re.compile('[^가-힣]') 
    result=hangul.sub(' ',sentence)
    return result

#문장에서 불용어 제거
def remove_stopwords(sentence):
    korean_stopwords_list='한국어 불용어.txt'
    
    #한국어 불용어 txt 오픈
    with open(korean_stopwords_list,encoding='utf-8') as f:
        stopwords=f.readlines()
    stopwords=[x.strip() for x in stopwords]

    word_list=okt.morphs(sentence,stem=True)
    word_list=[word for word in word_list if word not in stopwords]
    return ' '.join(word_list)

#형태소 원형
def origin(sentence):
    word=okt.morphs(sentence,stem=True)
    words=' '.join(word)
    return words    
    
#총정리
def final_preprocessing(sentence):
    sentence=cleansing(sentence)
    sentence=remove_stopwords(sentence)
    sentence=origin(sentence)
    return sentence

In [33]:
test['preprocessing_review']=test['review'].apply(final_preprocessing)
test

,Hotel_name,review,rate,preprocessing_review
49178,오션 팰리스 호텔,바로 전화해서 방을 산실로 업그레이드해서 바꿔주시긴 했는데...,0,전화하다 방 산실 업그레이드 바꾸다
49659,오션 팰리스 호텔,일주일도 전에 신청한 침대가 드도 체크인할 때 다시 물어보라 해놓고 감감무소식 설치...,2,일주일 전 신청 하다 침대 드 체크 인하다 다시 물어보다 감감 무소식 설치 안되다
6096,글래드 여의도,방 자체는 약간 어두워요.,1,방 자체 어둡다
51749,숨 게스트 하우스 제주공항,눈 내리는 겨울에 다시 방문 예정인데 그때는 이 슬리퍼 바꿔주셨음,1,눈 내 리다 겨울 다시 방문 예정 인데 슬리퍼 바꾸다
46008,엠 스테이 호텔 제주,밖인지 화장실인지 암튼 이것보다 싸게 준대도 다신 안 가고 싶음,0,밖 인지 화장실 인지 암튼 보다 싸다 준 대도 다시다 가다 싶다

## 진짜 전처리

In [ ]:
df=pd.read_csv('실제 리뷰 데이터.csv')
data=pd.read_csv('실제 리뷰 데이터1.csv')

In [ ]:
df['preprocessing_review']=df['review'].apply(final_preprocessing)
df.to_csv('review_clean_preprocessing.csv',index=False)

In [134]:
data['preprocessing_review']=data['LABEL-11'].apply(final_preprocessing)
data.head()

,Hotel,LABEL-11,preprocessing_review
0,골든 서울 호텔,"먼지,진드기 알레르기 있는데 다른 호텔 이불을 쓰면 몸이 간지럽던데 골든서울호텔은 ...",먼지 진드기 알레르기 호텔 이불 쓰다 몸 간지럽다 골든 서울 호텔 그렇다 건 없다 ...
1,골든 서울 호텔,개인 메시지창 확인 해 주세요.,개인 메시지 창 확인 해 주다
2,골든 서울 호텔,답변주시기 바랍니다.,답변 주 시기 바라다
3,골든 서울 호텔,가장중요한 청결상태도 아주 깨끗하며 직원분들도 친절하시고 전철역도 가깝고 주변 편의...,가장 중요하다 청결 상태 아주 깨끗하다 직원 분들 친절하다 전철역 가깝다 주변 편의...
4,골든 서울 호텔,일주일에 한번 서울을 오는데 자주 묵게될 것 같네요. 매트리스가 좋습니다.,일주일 한번 서울 오다 자주 묵다 되다 매트리스 좋다

In [135]:
data=data.drop('LABEL-11',axis=1)
data.head()

      Hotel                               preprocessing_review
0  골든 서울 호텔  먼지 진드기 알레르기 호텔 이불 쓰다 몸 간지럽다 골든 서울 호텔 그렇다 건 없다 ...
1  골든 서울 호텔                                   개인 메시지 창 확인 해 주다
2  골든 서울 호텔                                        답변 주 시기 바라다
3  골든 서울 호텔  가장 중요하다 청결 상태 아주 깨끗하다 직원 분들 친절하다 전철역 가깝다 주변 편의...
4  골든 서울 호텔                      일주일 한번 서울 오다 자주 묵다 되다 매트리스 좋다

In [136]:
data.to_csv('골든 서울 호텔_전처리.csv',index=False)

In [137]:
data.to_excel('골든 서울 호텔_전처리.xlsx',index=False)

In [36]:
df.to_excel('review_clean_preprocessing.xlsx',index=False)

In [37]:
df1=df.drop('review',axis=1)
df1.head()

  Hotel_name  rate            preprocessing_review
0   서울 가든 호텔     1           건물 오래되다 보이 내부 깔끔하다 좋다
1   서울 가든 호텔     1                   직원 분들 친절하다 좋다
2   서울 가든 호텔     1      위치 말 없이 좋다 주변 맛 집도 꽤 그것 좋다
3   서울 가든 호텔     1  교통 편리하다 출장 이용 좋다 가성 비 좋다 도심 호텔
4   서울 가든 호텔     1           교통 마포역 아주 가깝다 걸다 분 좋다

In [38]:
df1.to_csv('review_clean_preprocessing.csv',index=False)

In [39]:
df1.to_excel('review_clean_preprocessing.xlsx',index=False)

In [40]:
df1.head()

  Hotel_name  rate            preprocessing_review
0   서울 가든 호텔     1           건물 오래되다 보이 내부 깔끔하다 좋다
1   서울 가든 호텔     1                   직원 분들 친절하다 좋다
2   서울 가든 호텔     1      위치 말 없이 좋다 주변 맛 집도 꽤 그것 좋다
3   서울 가든 호텔     1  교통 편리하다 출장 이용 좋다 가성 비 좋다 도심 호텔
4   서울 가든 호텔     1           교통 마포역 아주 가깝다 걸다 분 좋다

## 세부 전처리

In [44]:
data=pd.read_excel('review_clean_preprocessing.xlsx')
data.head()

  Hotel_name  rate           preprocessing_review
0   서울 가든 호텔     1          건물 오래되다 보이 내부 깔끔하다 좋다
1   서울 가든 호텔     1                  직원 분들 친절하다 좋다
2   서울 가든 호텔     1       위치 말 없이 좋다 주변 맛집 꽤 그것 좋다
3   서울 가든 호텔     1  교통 편리하다 출장 이용 좋다 가성비 좋다 도심 호텔
4   서울 가든 호텔     1          교통 마포역 아주 가깝다 걸다 분 좋다

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57203 entries, 0 to 57202
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel_name            57202 non-null  object
 1   rate                  57203 non-null  int64
 2   preprocessing_review  56958 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [47]:
data=data.dropna(axis=0)

In [50]:
data.to_excel('review_clean_preprocessing.xlsx',index=False)

## train,test 데이터 나누기

In [69]:
from sklearn.model_selection import train_test_split

review_train, review_test=train_test_split(data,test_size=0.018,shuffle=True,random_state=0)
print(review_train.shape)
print(review_test.shape)

(55931, 3)
(1026, 3)

In [72]:
review_train.to_csv('train_호텔이름.csv',index=False)
review_test.to_csv('test_호텔이름.csv',index=False)

In [73]:
train=review_train['preprocessing_review']
test=review_test['preprocessing_review']
train

38421         오래되다 작은방 한강 보이다 광고 문구 만 보고 예약 주변 높다 빌딩 가로막 고
11796    근처 편의점 외국인 많다 듯 조식 샌드위치 신청 보증금 천원 먹다 돌려주다 달 고 ...
18611                                              예약 빡세 요
40659                                                   무난
12118                               신축 모텔 형 룸 인데 아담하다 깨끗하다
                               ...
46083    방음 안되다 건 둘째 치고 옆방 남자 밤새 술 먹다 리셉션 말 해 주 십 사하구 전...
52642                                          룸 컨디션 보고 감동
42792                                    부분 아쉽다 객실 깨끗하다 좋다
43750           엘리베이터 바닥 깨지다 덮다 위해 고무 패드 깔다 울퉁불퉁 지하 주차장 개판
2734              타 호텔 과는 드라이기 세기 감동 넓다 숙소 좋아하다 남편 푹 쉬다 오다
Name: preprocessing_review, Length: 55931, dtype: object

In [74]:
train.to_csv('train.txt',index=False)
test.to_csv('test.txt',index=False)

In [76]:
train.to_csv('train.csv',index=False)
test.to_csv('test.csv',index=False)

In [101]:
train.to_excel('train.xlsx',index=False)

In [103]:
train.to_csv('train.txt',index=False)
train.to_csv('train.csv',index=False)

## 다시 합쳐서 엑셀에서 작업

In [ ]:
test_txt=pd.read_csv('test.txt')
test_label=pd.read_csv('test_label.txt')

print(test_txt.shape)
print(test_label.shape)

In [78]:
test_txt

          아무리 잠 만 자고 오다 출장 여행 동반 숙소 예약 하다 입장 미안하다 마음 들다
0                      숙소 모기 너무 많다 성수기 수영장 가격 너무 올리다 받다
1       에는 깜박 짐 두다 체크아웃 자다 보관 해주다 찾아가다 어렵다 상황 되다 택배 보내다
2                                        룸 상태 그렇다 이해 가다
3                                              도배 다 들뜨다
4                                               넓다 쾌적하다
...                                                 ...
1016                                          주차장 좁다 편임
1017  달 전 예약 하다 중간 확인 불구 하다 예약 돼다 오리발 내미다 데이터 확인 해보다...
1018                                         디럭스 더블 오션뷰
1019  루프 탑 수영장 애 졸라 서다 이용 유료 물 엄청 앝 고 가격 사악하다 타월 엄청 ...
1020                            바닥 머리카락 뒹굴 어서 물티슈 다시 청소

[1021 rows x 1 columns]

In [79]:
test_df=pd.concat([test_txt,test_label],axis=1)
test_df

          아무리 잠 만 자고 오다 출장 여행 동반 숙소 예약 하다 입장 미안하다 마음 들다   가성비
0                      숙소 모기 너무 많다 성수기 수영장 가격 너무 올리다 받다  부대시설
1       에는 깜박 짐 두다 체크아웃 자다 보관 해주다 찾아가다 어렵다 상황 되다 택배 보내다   서비스
2                                        룸 상태 그렇다 이해 가다     룸
3                                              도배 다 들뜨다     룸
4                                               넓다 쾌적하다     룸
...                                                 ...   ...
1016                                          주차장 좁다 편임  부대시설
1017  달 전 예약 하다 중간 확인 불구 하다 예약 돼다 오리발 내미다 데이터 확인 해보다...   서비스
1018                                         디럭스 더블 오션뷰     룸
1019  루프 탑 수영장 애 졸라 서다 이용 유료 물 엄청 앝 고 가격 사악하다 타월 엄청 ...  부대시설
1020                            바닥 머리카락 뒹굴 어서 물티슈 다시 청소     룸

[1021 rows x 2 columns]

In [80]:
test_df.to_excel('test_라벨링.xlsx',index=False)

In [81]:
df.head()

,Hotel_name,review,rate,preprocessing_review
0,서울 가든 호텔,건물이 조금 오래되어 보이지만 내부는 깔끔하고 좋아요.,1,건물 오래되다 보이 내부 깔끔하다 좋다
1,서울 가든 호텔,직원분들도 친절하셔서 좋습니다.,1,직원 분들 친절하다 좋다
2,서울 가든 호텔,"위치는 말할 것도 없이 좋은 것 같고, 주변에 맛 집도 꽤나 있어서 그것도 좋았습니다",1,위치 말 없이 좋다 주변 맛 집도 꽤 그것 좋다
3,서울 가든 호텔,교통이 편리하고 출장 때 이용하기 좋은 가성비 좋은 도심 호텔입니다,1,교통 편리하다 출장 이용 좋다 가성 비 좋다 도심 호텔
4,서울 가든 호텔,교통 마포역과 아주 가까워서 걸어서 2분 좋다.,1,교통 마포역 아주 가깝다 걸다 분 좋다

### 다시 불러와서 test,test_label로 분리

In [93]:
test_df=pd.read_excel('test_라벨링.xlsx')
test_df.head()

     아무리 잠 만 자고 오다 출장 여행 동반 숙소 예약 하다 입장 미안하다 마음 들다   가성비
0                 숙소 모기 너무 많다 성수기 수영장 가격 너무 올리다 받다  부대시설
1  에는 깜박 짐 두다 체크아웃 자다 보관 해주다 찾아가다 어렵다 상황 되다 택배 보내다   서비스
2                                   룸 상태 그렇다 이해 가다     룸
3                                         도배 다 들뜨다     룸
4                                          넓다 쾌적하다     룸

In [94]:
re_test=test_df['아무리 잠 만 자고 오다 출장 여행 동반 숙소 예약 하다 입장 미안하다 마음 들다']
re_test_label=test_df['가성비']

re_test.head()

0                   숙소 모기 너무 많다 성수기 수영장 가격 너무 올리다 받다
1    에는 깜박 짐 두다 체크아웃 자다 보관 해주다 찾아가다 어렵다 상황 되다 택배 보내다
2                                     룸 상태 그렇다 이해 가다
3                                           도배 다 들뜨다
4                                            넓다 쾌적하다
Name: 아무리 잠 만 자고 오다 출장 여행 동반 숙소 예약 하다 입장 미안하다 마음 들다, dtype: object

In [95]:
re_test.to_csv('test.txt',index=False)
re_test_label.to_csv('test_label.txt',index=False)

re_test.to_csv('test.csv',index=False)

In [97]:
re_test.shape

(1021,)

In [99]:
re_test_label.shape

(1021,)

In [109]:
tt=pd.read_csv('test_label.txt')

tt.value_counts()

가성비
룸       406
기타      159
위치      130
서비스     120
부대시설    101
가성비      63
목적       42
dtype: int64

In [114]:
print('리뷰의 최대길이 :',max(len(review) for review in train['preprocessing_review'] ))
print('리뷰의 평균길이 :',sum(map(len,train['preprocessing_review']))/len(train))

리뷰의 최대길이 : 240
리뷰의 평균길이 : 24.475460835672525

In [139]:
golden_seoul=pd.read_csv('골든 서울 호텔 문장 분리.csv')
golden_seoul.head()

      Hotel                      preprocessing_review
0  골든 서울 호텔  먼지 진드기 알레르기 호텔 이불 쓰다 몸 간지럽다 골든 서울 호텔 그렇다
1  골든 서울 호텔                        건 없다 방이 엄청 깔끔하다 주소
2  골든 서울 호텔         강서구 영등포 옆 이라서 영등포 라고 보다 괜찮다 정도 에요
3  골든 서울 호텔                      이용 너무 편하다 직원 분들 친절하다
4  골든 서울 호텔                          개인 메시지 창 확인 해 주다

In [140]:
golden_seoul.to_excel('골든 서울 호텔 문장 분리.xlsx')

In [143]:
golden=pd.read_excel('골든 서울 호텔 문장 분리.xlsx')
golden.head()

   Unnamed: 0     Hotel                      preprocessing_review aspect
0           0  골든 서울 호텔  먼지 진드기 알레르기 호텔 이불 쓰다 몸 간지럽다 골든 서울 호텔 그렇다      룸
1           1  골든 서울 호텔                        건 없다 방이 엄청 깔끔하다 주소      룸
2           2  골든 서울 호텔         강서구 영등포 옆 이라서 영등포 라고 보다 괜찮다 정도 에요     위치
3           3  골든 서울 호텔                      이용 너무 편하다 직원 분들 친절하다    서비스
4           4  골든 서울 호텔                          개인 메시지 창 확인 해 주다    서비스

In [142]:
review=golden['preprocessing_review']
label=golden['aspect']

review.to_csv('골든 서울 호텔 리뷰만.txt',index=False)
label.to_csv('골든 서울 호텔 label.txt',index=False)